﻿@model TVendo.Web.Data.Entities.Message

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TargetUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelivered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
