﻿@model TVendo.Web.Data.Entities.TagIncompatibility

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Incompatibilidad de Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tag1Id" class="control-label"></label>
                <select asp-for="Tag1Id" class ="form-control" asp-items="ViewBag.Tag1Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tag2Id" class="control-label"></label>
                <select asp-for="Tag2Id" class ="form-control" asp-items="ViewBag.Tag2Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
