﻿@model TVendo.Web.Data.Entities.TagIncompatibility

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Incompatibilidad de Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag1.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag2.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
