﻿@model PaginatedList<TVendo.Web.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="panel panel-default w3-margin-top">
    <div class="panel-heading w3-dark-grey">
        <div class="panel-title text-center"><h3>Productos</h3></div>
    </div>
    <div class="panel-body">
        <div class="row text-right">
            <a asp-area="" asp-action="Create" class="btn btn-primary w3-margin-right"><i class="fa fa-plus"></i> Añadir</a>
        </div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="hidden" value="@ViewData["PageSize"]" name="pageSize" />
                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    <a asp-area="" asp-action="Index" asp-route-pageSize="@ViewData["PageSize"]" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Restablecer</a><br />
                </p>
            </div>
            <div class="form-actions no-color">
                <input type="text" name="LowerPrice" value="@ViewData["LowerPrice"]" placeholder="Precio Mínimo"/>
                <input type="text" name="HigherPrice" value="@ViewData["HigherPrice"]" placeholder="Precio Máximo"/>
            </div>
        </form>
        <span class="w3-right w3-margin-right w3-margin-bottom"><span>Mostrando: </span><button class="btn btn-default" data-toggle="modal" data-target="#showingElements">@ViewData["PageSize"] Elementos</button></span>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["PageSize"]" asp-route-lowerPrice="@ViewData["LowerPrice"]" asp-route-higherPrice="@ViewData["HigherPrice"]">
                            Nombre<i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["PageSize"]" asp-route-lowerPrice="@ViewData["LowerPrice"]" asp-route-higherPrice="@ViewData["HigherPrice"]">
                            Precio<i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Stock
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["SubCategorySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["PageSize"]" asp-route-lowerPrice="@ViewData["LowerPrice"]" asp-route-higherPrice="@ViewData["HigherPrice"]">
                            Subcategoría<i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["UserSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["PageSize"]" asp-route-lowerPrice="@ViewData["LowerPrice"]" asp-route-higherPrice="@ViewData["HigherPrice"]">
                            Usuario<i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.FullImageUrl))
                            {
                                <img src="@Url.Content(item.FullImageUrl)" alt="imagen" style="width:100px; height:150px; max-width:100%; height:auto;" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row w3-right w3-margin-right">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-lowerPrice="@ViewData["LowerPrice"]"
               asp-route-higherPrice="@ViewData["HigherPrice"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-lowerPrice="@ViewData["LowerPrice"]"
               asp-route-higherPrice="@ViewData["HigherPrice"]"
               class="btn btn-default @prevDisabled">
                <i class="fa fa-chevron-left"></i>
            </a>
            <span class="w3-hide-supersmall w3-hide-small">Pagina: </span><span>@Model.PageIndex / @Model.TotalPages</span>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-lowerPrice="@ViewData["LowerPrice"]"
               asp-route-higherPrice="@ViewData["HigherPrice"]"
               class="btn btn-default @nextDisabled">
                <i class="fa fa-chevron-right"></i>
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-lowerPrice="@ViewData["LowerPrice"]"
               asp-route-higherPrice="@ViewData["HigherPrice"]"
               class="btn btn-default @nextDisabled">
                <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    
    <div class="modal fade" id="showingElements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Mostrar:</h5>
                </div>
                <div class="modal-body row">
                    <div class="col-md-3">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-lowerPrice="@ViewData["LowerPrice"]"
                           asp-route-higherPrice="@ViewData["HigherPrice"]"
                           asp-route-pageSize="10"
                           class="btn btn-primary">10 Elementos</a>
                    </div>
                    <div class="col-md-3">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-lowerPrice="@ViewData["LowerPrice"]"
                           asp-route-higherPrice="@ViewData["HigherPrice"]"
                           asp-route-pageSize="25"
                           class="btn btn-primary">25 Elementos</a>
                    </div>
                    <div class="col-md-3">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-lowerPrice="@ViewData["LowerPrice"]"
                           asp-route-higherPrice="@ViewData["HigherPrice"]"
                           asp-route-pageSize="50"
                           class="btn btn-primary">50 Elementos</a>
                    </div>
                    <div class="col-md-3">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-lowerPrice="@ViewData["LowerPrice"]"
                           asp-route-higherPrice="@ViewData["HigherPrice"]"
                           asp-route-pageSize="100"
                           class="btn btn-primary">100 Elementos</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-chevron-left"></i>Atrás</button>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
