﻿@model TVendo.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="OldPassword">Current Password</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm">Confirm</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success">Back to User</a>
            </div>
        </form>
    </div>
</div>

@section Scripts  {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}