﻿@model TVendo.Web.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<h2>UpdateUser</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn  btn-primary" />
                <a asp-action="ChangePassword" class="btn btn-success">Change Password</a>
            </div>

            <div class="text-success">@ViewBag.UserMessage</div>
        </form>
    </div> 
</div>

@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}