﻿@model IEnumerable<TVendo.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<link rel="styleshhet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Usuarios</div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="UsersTable">
                    <thead>
                        <tr>
                            <th>
                                Nombre de Usuario
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Es Administrador
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                   @foreach (var item in Model)
                    {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAdmin)
                            </td>
                            <td>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                                @if (item.IsAdmin)
                                {
                                    <a asp-action="AdminOff" asp-route-id="@item.Id" class="btn btn-warning">Quitar Admin</a>
                                }
                                else
                                {
                                    <a asp-action="AdminOn" asp-route-id="@item.Id" class="btn btn-warning">Hacer Admin</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Desea Eliminar al Usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#UsersTable').DataTable();

            // Delete Item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Account/DeleteUser/' + item_to_delete;
            });
        });
    </script>
 }

