﻿@model TVendo.Web.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "RecoverPassword";
}

<h2>Recover Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="EmailOrUserName">Email</label>
                <input asp-for="EmailOrUserName" class="form-control" />
                <span asp-validation-for="EmailOrUserName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Recuperar Contraseña" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-success">Regresar a Login</a>
            </div>
        </form>

        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }

