﻿@model TVendo.Web.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Reset Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label asp-for="EmailOrUserName">Username</label>
                <input asp-for="EmailOrUserName" class="form-control" />
                <span asp-validation-for="EmailOrUserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">New Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Resetear Contraseña" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-succes">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>


@section Scripts  {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}